{% extends 'base.html.twig' %}

{% block title %} Meetings {% endblock %}

{% block body %}
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-content">
	<div class="row">
		{% for meeting in meetings %}
		<div class="col-xl-4">
			<div class="kt-portlet kt-portlet--height-fluid">
				<div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder">
					<div class="kt-portlet__head-label">
						<h3 class="kt-portlet__head-title">{{meeting.title}}</h3>
					</div>
				</div>
				<div class="kt-portlet__body">
					<div class="progress m-progress--sm">
						<div class="progress-bar m--bg-brand" role="progressbar" style="width: 78%;"></div>
					</div>
					{% for agenda in agendas %}
						<p style="margin-bottom:2px;">{{agenda.id}} {{agenda.topic}}</p>
						{% for item in agenda_items %}
							<p style="margin-left:5px;"><small>{{item.id}} {{item.shortDescription}}</small></p>
						{% endfor %}
					{% endfor %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
				
	</div>
</div>

{% endblock %}